body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    transition: background-color 1.4s, color 1.4s;
    scroll-padding-top: 100px;
}

html {
    scroll-behavior: smooth;
}

.menu-bar li {
    display: inline-block;
    margin-right: 0px;
}

.menu-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.menu-link.active {
    background-color: #007bff;
    color: white;
}

.menu-link:hover {
    background-color: #72b6ff;
    color: white;
    
}

/* Container for the switch */
.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch-div {
    position: fixed;
    top: 10px;
    right: 10px;
}

/* Hides the checkbox */
.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.menu-bar {
    display: flex;
    background-color: #eeeeee;
    padding: 10px 20px;
    list-style-type: none;
    z-index: 1000;
    position: fixed;
    justify-content: center;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.menu-bar li {
    padding: 10px;
    margin-right: 20px;
}

.menu-bar a {
    text-decoration: none;
    color: black;
}

.dark {
    background-color: #333;
    color: white;
}

.dark .menu-bar {
    background-color: #555;
}

.dark .menu-bar a {
    color: white;
}

#theme-switch {
    position: fixed;
    top: 10px;
    right: 10px;
}

/* .content{
    margin-top: 20%;
} */

.profile {
    text-align: center;
    padding: 20px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.profile-image {
    margin: auto auto auto auto;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
}

.profile-info {
    margin: auto auto auto 0px;
}

.description {
    margin: 2vw 5vw;
}

.description p {
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}



.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
}

.social-links a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}

.dark .social-links a {
    color: white;
}

.btn:hover, .social-links a:hover {
    opacity: 0.8;
}

.social-links a {
    color: black; /* Icon color */
    margin: 0 10px;
    font-size: 30px; /* Icon size */
}

.social-links a:hover {
    color: #0056b3; /* Icon hover color */
}


h2, h3 {
    margin: 10px 0;
}

p {
    margin: 5px 0;
}


.contact-section {
}   

.contact-section p {
    margin: 10px 0;
}   


.site-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0; /* Example background color */
    color: #333; /* Example text color */
}

.dark .site-footer {
    background-color: #333;
    color: white;
}

.site-footer .social-links {
    margin-bottom: 20px; /* Adds some space between the social links and the copyright text */
}

.site-footer .social-links a {
    color: #333; /* Example icon color */
    margin: 0 10px; /* Spacing between icons */
    font-size: 24px; /* Icon size */
}

.dark .site-footer .social-links a {
    color: white;
}

.site-footer .social-links a:hover {
    color: #007bff; /* Example hover color */
}

