.publications-section h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 4% 0 2% 0;
}

.publication-item {
    background-color: var(--background);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1.5px solid #ddd;
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

.dark .publication-item {
    background-color: var(--dark-secondary-background);
    box-shadow: 0 2px 4px rgba(252, 232, 232, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
}

.publication-item h3 {
    color: var(--primary-text);
    margin-top: 0;
}

.dark .publication-item h3 {
    color: var(--background);
}

.dark .publication-item p {
    color: var(--background);
}
.publication-item p {
    margin-bottom: 10px;
    padding: auto;
    margin: auto auto auto 0px;
}

.publication-item a {
    margin: auto 0px auto auto;
    display: inline-block;
    background-color: var(--dark-accent-secondary);
    color: var(--dark-primary-text);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.publication-item a:hover {
    background-color: var(--light-accent);
}